<div class="container__big-card">

<a href="">
  <div class="big-card__pic"></div>
    <img src="https://cq.ru/storage/uploads/posts/995617/faceless-void-hd-wallpaper.jpg"
    alt=""
    width="395px"
    height="230px"
    srcset="">

    <div class="big-card__title">
      <h1>Novo herói de Dota 2 é anunciado.</h1>
    </div>

    <div class="big-card__description">
    <p>Tempo é tudo para o Faceless Void. Ele acelera o tempo para deslocar-se entre lugares, manipula-o para desviar de ataques, pode pará-lo em uma área grande para devastar os seus adversários e, se dado tempo o suficiente para obter recursos, pode tornar-se inacreditavelmente poderoso..</p>
    </div>
  </a>
</div>



