<div class="container__big-card">

<a href="">
  <div class="big-card__pic"></div>
    <img src="https://pbs.twimg.com/media/FwwwVAYXoAEWwm-?format=jpg&name=4096x4096"
    alt=""
    width="395px"
    height="250px"
    srcset="">

    <div class="big-card__title">
      <h1>LIQUID BEAT THE GAIMING GLADIATORS FOR THE FIRST TIME IN A LONG TIME</h1>
    </div>

    <div class="big-card__description">
    <p>Liquid defeated the Gaimin Gladiators in the first division of the DPC Western Europe. This is the first loss of the season for Dyrachyo and his team.</p>
    </div>
  </a>
</div>



